@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Consolas';
  src: url('/fonts/consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
